dist/
build/
private/
bytecast-amd64/
bytecast-common/
bytecast-fsys/
bytecast-jimple/
bytecast-runtime/
bytecast-documents/
bytecast-test/
api_key.txt
private_key_pass.txt
tools/javadoc-publish/bytecast-all/src/
bytecast-javadoc.zip
githubcampfire-1.0.jar
